@font-face {
  font-family: 'Museo Sans Reg';
  src: url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.eot");
  src: local("../font/MuseoSansCyrlReg/MuseoSansCyrl-300"), url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.eot");
  src: local("../font/MuseoSansCyrlBold/MuseoSansCyrl-700"), url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
