@font-face {
  font-family: 'Museo Sans Reg';
  src: url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.eot");
  src: local("../font/MuseoSansCyrlReg/MuseoSansCyrl-300"), url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrlReg/MuseoSansCyrl-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.eot");
  src: local("../font/MuseoSansCyrlBold/MuseoSansCyrl-700"), url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansCyrlBold/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333333;
  font-family: 'Museo Sans Reg', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 26px;
  font-size: 15px;
}

.arrows__right:hover, .arrows__left:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__address {
  display: flex;
  display-flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}

.hero-text__subtitle {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__image {
  width: 570px;
  height: 488px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  flex-basis: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .herolist__item {
    margin-bottom: 20px;
  }
  .herolist__text {
    font-size: 12px;
  }
  .herolist__image {
    margin-right: 15px;
  }
}

.offer {
  background-image: url("../img/kunha.jpg");
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  margin-bottom: 24px;
  line-height: 35px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  margin-bottom: 30px;
}

.offer-text {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  font-size: 15px;
}

.offer-text__phone {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.manager {
  margin-right: 70px;
  max-width: 224px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

.btn-up {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio_backgraund.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-size: 30px;
  color: #000;
  line-height: 45px;
  margin: auto;
  width: 600px;
  margin-bottom: 100px;
}

.portfolio__arrows {
  max-width: 130px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}

.price {
  text-align: center;
}

.price__title {
  margin: auto;
  margin-bottom: 68px;
  max-width: 450px;
}

.price__subtitle {
  margin-bottom: 60px;
  font-size: 20px;
}

.card {
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.card:hover .card__img::before {
  opacity: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__title {
  margin-top: 39px;
  margin-bottom: 31px;
}

.card__text {
  padding: 40px;
}

.card__img {
  position: relative;
}

.card__img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.2s;
}

.card__link {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.card__link:hover:after {
  height: 8px;
}

.card__link:after {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  transition: 0.2s;
}
