.step
  min-width: 150px
  &s
    color: #000
    text-align: center
    &__title
      margin: auto
      font-size: 30px
      line-height: 45px
      max-width: 700px
      margin-bottom: 49px
    &__subtitle
      margin: auto
      font-size: 20px
      line-height: 45px
      margin-bottom: 58px
  &__image
    margin: 0 25px
    margin-bottom: 30px
    width: 100px
    height: 100px
    border: 3px solid #ffd200
    background-color: #ffffff
    border-radius: 50%
    padding: 31px
  &__text
    line-height: 20px
    font-size: 14px

  &__arrow
    min-width: 75px
    margin: 0 31px
.sequence
  display: flex
  justify-content: space-between
@media (max-width:1400px)
  .step
    max-width: 150px
    margin-left: 10px
    &__arrow
      display: none
    &__text
      max-width: 150px
@media (max-width:850px)
  .sequence
    display: flex
    flex-wrap: wrap
    .step
      max-width: 150px
      &__arrow
        display: none
        &__text
          max-width: 150px
@media (max-width:576px)
  .sequence
    text-align: center
    display: block
    margin: auto
    .step
      margin: auto
      margin-top: 30px
      max-width: 150px
      &__arrow
        display: none
        &__text
          max-width: 150px
